#  1. Manipulate using a list

In [7]:
lst=[10,20,30]
lst

[10, 20, 30]

In [8]:
#1.To add new elements to the end of the list
lst.append(40)
lst

[10, 20, 30, 40]

In [9]:
#2.To reverse elements in the list
lst.reverse()
lst

[40, 30, 20, 10]

In [5]:
#3.To display the same list of elements multiple times
lst*3
lst

[40, 30, 20, 10]

In [7]:
#3.To display the same list of elements multiple times
lst=lst*3
print(lst)

[40, 30, 20, 10, 40, 30, 20, 10, 40, 30, 20, 10]

In [9]:
#4.to concatenate two list
lst1=[10,20,30,40]
lst2=[50,60]
sum=lst1+lst2
print(sum)

[10, 20, 30, 40, 50, 60]

In [14]:
#5.to sort the elements in the list in ascending order
list=[9,50,47,34,5]
list.sort()
print(list)

[5, 9, 34, 47, 50]

# 2.wtrite a python program to do in the tuples

In [12]:
tup=("parimala","jaya",123)
print(tup)

('parimala', 'jaya', 123)

In [15]:
#1 manipulate using tuples
tup=tup + ("raj",)
print(tup)

('parimala', 'jaya', 123, 'raj')

In [16]:
#2.To add new elements to the end of tuples
tuple1=("abc","pqr",456)
tuple=tup+tuple1
print(tuple)

('parimala', 'jaya', 123, 'raj', 'abc', 'pqr', 456)

In [17]:
#3.to reverse elements in the list
reversed_tuple=tup[::-1]
print('reversed_tuple:',reversed_tuple)

reversed_tuple: ('raj', 123, 'jaya', 'parimala')

In [18]:
#4.To display the elements of the sample tuple multiple times
tuple=tup*4
print(tuple)

('parimala', 'jaya', 123, 'raj', 'parimala', 'jaya', 123, 'raj', 'parimala', 'jaya', 123, 'raj', 'parimala', 'jaya', 123, 'raj')

In [19]:
#5.To concatenate two tuples
t2=(8,9)
t3=tup+t2
t3

('parimala', 'jaya', 123, 'raj', 8, 9)

In [1]:
#6.To sort the elementsin the list in ascending order
lst=("parimala","raj","venkatesh")
items=[]
for i in range(len(lst)):
    items.append(lst[i])
    items.sort()
print(items)

['parimala', 'raj', 'venkatesh']

#  3.write a python program to implement the following using list

In [1]:
#1. create a list with integers(minimum 10 numbers)
lst=[9,8,7,6,5,4,3,2,1,10]
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1, 10]

In [2]:
#2.how to display the last number in the list
last_num=lst[-1]
print(last_num)

10

In [3]:
#3.command for displaying the values from the list[0:4]
values=lst[0:4]
values

[9, 8, 7, 6]

In [6]:
#4.command for displaying the values from the list[2:]
values=lst[2:]
values_1

[7, 6, 5, 4, 3, 2, 1, 10]

In [5]:
#5.command for displaying the values from the list[6:]
values=lst[6:]
values

[3, 2, 1, 10]

# 4.write a python program tuple1=(10,50,20,40,30)

In [20]:
#1.To display elements from 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
value1=tuple1[0]
value2=tuple1[1]
print(value1,value2)

10 50

In [21]:
#2.To display the length of a tuple1
length=len(tuple1)
length

5

In [23]:
#3.To find the minimum elememnt from tuple1
minimum_element=min(tuple1)
minimum_element

10

In [25]:
#4.To add all elements in the tuple1
sum=sum(tuple1)
sum

150

In [24]:
#5.To display the same tuple1 multiple times
result=tuple1*2
result

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.write a python program

In [33]:
name= "parimala"
name

'parimala'

In [34]:
#1.To calculate the length of the string
length=len(name)
length

8

In [39]:
#2.To reverse words in a string
reverse=name[::-1]
reverse

'alamirap'

In [37]:
#3.To display same string multiple times
result=name*4
result

'parimalaparimalaparimalaparimala'

In [42]:
#4.To concatenate two strings
name1=" chavanaboina"
concatenate=name+name1
concatenate

'parimala chavanaboina'

In [43]:
#5.Str1="south india",using string sclicing to display"india"
str1="south india"
str2=str1[6:]
str2

'india'

# 6.perform the following

In [50]:
#1.create the dictionary
player={"name":"virat","age":38,"sport":("cricket"),"country":"india"}
player

{'name': 'virat', 'age': 38, 'sport': 'cricket', 'country': 'india'}

In [76]:
#2.Accesingvalues and keys in dictionary
for i,j in player.items():
    print(f"{i}:{j}")

name:virat
age:38
sport:cricket
country:india

In [93]:
#3.updating the dictionary using a function
def update_player(player,i,j):
    player[i]=j
update_player(player,"food","chicken")
print(player)

{'name': 'virat', 'age': 38, 'sport': 'cricket', 'country': 'india', 'food': 'chicken'}

In [79]:
#4.clear and delete the dictionary values
player_details=player.copy()
player.clear()
del playeraa
print(player_details)

{'name': 'virat', 'age': 38, 'sport': 'cricket', 'country': 'india'}

# 7.python program to insert a number to any position in a list

In [86]:
#we can use insert to insert a number to any position in a list
num=[10,15,20,25,30,35,40,45,475,839,578,984,462,342,37,72,278]
print(num)
num.insert(2,635)
print(num)

[10, 15, 20, 25, 30, 35, 40, 45, 475, 839, 578, 984, 462, 342, 37, 72, 278]
[10, 15, 635, 20, 25, 30, 35, 40, 45, 475, 839, 578, 984, 462, 342, 37, 72, 278]

# 8.python program to delete an element from a list by index

In [97]:
#to delete element from  a list by index we can use pop(index)or del
print(num)
num.pop(3)
print(num)

del num[5]
print(num)

[10, 15, 635, 30, 40, 45, 475, 839, 578, 984, 462, 342, 37, 72, 278]
[10, 15, 635, 40, 45, 475, 839, 578, 984, 462, 342, 37, 72, 278]
[10, 15, 635, 40, 45, 839, 578, 984, 462, 342, 37, 72, 278]

# 9.write a program to display the numbers from 1 to 100

In [99]:
#we can use loop fro 1 to 100
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.write a python program to find the sum of all items in a tuple

In [100]:
#we can use sum to the sum of all items in a tuple
values=(9,8,7,6,5,4,3,2,1,1,2,3,4,5,6,7,8,9)
print(sum(values))

90

# 11create a dictionary containing three lamda functions square,cube,square root

In [106]:

math_operations = {
    'square': lambda x: x**2,
    'cube': lambda x: x**3,
    'square_root': lambda x: x**0.5
}

number=6
print("square:",math_operations['square'](number))
print("Cube:", math_operations['cube'](number))
print("Square Root:", math_operations['square_root'](number))

square: 36
Cube: 216
Square Root: 2.449489742783178

# 12 a list of words is given .find out the words from the list that have their seconf character in uppercase

In [110]:

ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)
        
print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']

# 13.A dictionaryod names and  their weights on the earth is given.Find how much they will weight on the moon.(use map nad lambda functions) formula: wmoon=(wEarth*Gmoon)/Gearth

In [120]:
gmoon=1.622
gearth=9.81
weightonearth={'john':45,'shelly':65,'marry':35}
moon_weight={name:(weight*gmoon)/gearth for name,weight in weightonearth.items()}
for name,weight_moon in moon_weight.items():
    print(f"{name} :{weight_moon:.2f} kg")

john :7.44 kg
shelly :10.75 kg
marry :5.79 kg

# Control structures

# 1.write a python program to find the first N prime numbers

In [85]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def find_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
        if is_prime(num):
            primes.append(num)
        num += 1
    return primes

N = 30
prime_list = find_primes(N)
print(f"The first {N} prime numbers are: {prime_list}")

The first 30 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

# 2.write the python code that calculates the salary of anemployee.Prompt the user to enter the Basic salary,HRA,TA, and DA.Add these components to calculate the Gross salary

In [83]:
Basic_sal = float(input("Enter the Base Salary"))
HRA = int(input("Enter the HRA"))
TA = int(input("Enter the TA"))
DA = int(input("Enter the DA"))

Gross_salary = Basic_sal + float(HRA) + float(TA) + float(DA)

net_salary = Gross_salary - (float(Basic_sal)*0.1)

print("The net salary of an employee is after " + str(float(Basic_sal)*0.1)+ " tax deduction is: "+str(Gross_salary))

Enter the Base Salary14000
Enter the HRA8000
Enter the TA3000
Enter the DA8
The net salary of an employee is after 1400.0 tax deduction is: 25008.0

# 3 write a python program to search for a stringin the given list

In [163]:
m = ["45", "20", "pandu", "raj"]
s = "raj"
if s in m:
    print(f"{s}")
else:
    print(f"{s}")

raj

# 4.write a python program that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [82]:
def count_upper_lower(n):
    upper_count = 0
    lower_count = 0
    
    for char in n:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count+= 1
            
    return upper_count, lower_count
input_string = "Python"
upper,lower = count_upper_lower(input_string)
print("Uppercase letters:",upper)
print("Lowercase letters:",lower)

Uppercase letters: 1
Lowercase letters: 5

# 5 write a python program to display the sum of odd numbers and even numbers that are fall between 12 and37

In [170]:
odd_sum = 0
even_sum = 0
for number in range(12, 38):
    if number % 2 == 0:  # Check if the number is even
        even_sum += number
    else:
        odd_sum += number
print("Sum of odd numbers:",odd_sum)
print("Sum of even numbers:", even_sum)

Sum of odd numbers: 325
Sum of even numbers: 312

# 6.write a python program to print the table of any number

In [3]:
num=23
print(f"table of {23}:")
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

table of 23:
23*1=23
23*2=46
23*3=69
23*4=92
23*5=115
23*6=138
23*7=161
23*8=184
23*9=207
23*10=230

# 7.write a python program to sum the first 10 prime  numbers

In [5]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num ** 0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

def sum_first_10_primes():
    primes = []
    num = 2
    while len(primes) < 10:
        if is_prime(num):
            primes.append(num)
        num += 1
    return sum(primes)

result = sum_first_10_primes()
print("The sum of the first 10 prime numbers is:",result)

The sum of the first 10 prime numbers is: 129

# 8.write a python program to implement arithmetic operationsusing nested if statement

In [45]:
def arithmetic_operations(operator, num1, num2):
    if operator == "+":
        result = num1 + num2
    elif operator == "-":
        result = num1 - num2
    elif operator == "*":
        result = num1 * num2
    elif operator == "/":
        if num2 != 0:
            result = num1 / num2
        else:
            result = "Division by zero is not allowed"
    else:
        result = "Invalid operator"
    
    return result

operator = input("Enter an operator (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

result = arithmetic_operations(operator, num1, num2)
print(f"Result: {result}")

Enter an operator (+, -, *, /): +
Enter the first number: 10.5
Enter the second number: 56.8
Result: 67.3

# 9.write a python program to take the temperature in celsius and convert it to a fahrebheit

In [46]:
celsius = 40
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

40 degrees Celsius is equal to 104.0 degrees Fahrenheit

# 10.write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [52]:
def find_max_min(numbers):
    if len(numbers) == 0:
        return None

    max_num = min_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

numbers_list = [23, 7858, 5, 534, 1,6540, -8904]
max_val, min_val = find_max_min(numbers_list)
print("Maximum:", max_val)
print("Minimum:", min_val)

Maximum: 7858
Minimum: -8904

# 11.write a python program to print out the number of seconds in 30-day month 30 days,24hours in a day,60 minutes per day,60 seconds in a minute

In [53]:
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
seconds_in_month = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute
print("Number of seconds in a 30-day month:", seconds_in_month)

Number of seconds in a 30-day month: 2592000

# 12.write a program in python to print out the number of seconds ina year

In [54]:
seconds_per_minute = 60
seconds_per_hour = 60 * seconds_per_minute
seconds_per_day = 24 * seconds_per_hour
days_in_year = 365
seconds_in_year = days_in_year * seconds_per_day
print("Number of seconds in a year:", seconds_in_year)

Number of seconds in a year: 31536000

# 13. A high speed train can travel an average speed of 150kmh,how long will it take a train travelling at this speed to travel from  london to glasgow which is 414 miles away

In [55]:
distance=414
speed=150
time=distance / speed
print(f"it will take {time:.2f} hours for the train to travel from london to glasgow.")

it will take 2.76 hours for the train to travel from london to glasgow.

# 14.write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable.the program should he print out the total hours that you spend in school from year 7  to year 11,if each day you spend 6 hours in school days_in_each_school_year=192

In [47]:
days_in_each_school_year = 192

start_year = 7
end_year = 11

hours_per_day = 6

total_hours = (end_year - start_year + 1) * days_in_each_school_year * hours_per_day

print(f"Total hours spent in school from year {start_year} to year {end_year}: {total_hours}")

Total hours spent in school from year 7 to year 11: 5760

# 15.if the age of ram,sam and khan are input through the keyboard,write a python program to determine the eldest and youngest of the three

In [56]:
ram_age =45
sam_age = 76
khan_age = 34
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"
if ram_age <= sam_age and ram_age <= khan_age:
    youngest = "Ram"
elif sam_age <= ram_age and sam_age <= khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"
print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

The eldest among Ram, Sam, and Khan is Sam.
The youngest among Ram, Sam, and Khan is Khan.

# 16.write a python program to rotate a list by right n times with and without sclicing technique

In [63]:
def rotate_list_with_slicing(lst, n):
    n = n % len(lst) 
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list
my_list = [10,22, 453, 454, 25]


rotations = 3
result = rotate_list_with_slicing(my_list, rotations)
print("Rotated list with slicing:",result)
def rotate_right_without_slicing(lst, n):
    n = n % len(lst)  
    for _ in range(n):
        lst.insert(0, lst.pop())

original_list = [14, 256, 35, 764, 5435]
n = 4
rotate_right_without_slicing(original_list, n)
print(f"Original List: {original_list}")

Rotated list with slicing: [453, 454, 25, 10, 22]
Original List: [256, 35, 764, 5435, 14]

# 17.python program to print the patterns given below

In [39]:
 #1 its a pascal triangle the value
#is dependent on the summation of above two cells
     
def pattern1(num_rows):
    ans =[]
    for i in range(num_rows):
        row=[1]
        if i > 0:
            for j in range(1,i):
                element=ans[i - 1][j - 1] + ans[i -1][j]
                row.append(element)
            row.append(1)
        ans.append(row)
    return ans
def print_(ans):
    max_width =len(' '.join(map(str,ans[-1])))
    for row in ans:
        formatted_row = ' '.join(map(str,row))
        print(formatted_row.center(max_width))
num_rows=7
print("\n")
triangle=pattern1(num_rows)
print_(triangle)

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
 1 5 10 10 5 1
1 6 15 20 15 6 1

# 2.given pattern is a right angle traingle

In [18]:

num=int(input("enter the number of rows"))
print("\n")
for i in range(0,num):
    for j in range(0,i):
        print("*",end="")
    print(" ")

*
**
***
****
*****

# 3.given pattern is pyramid with spaces and asterisks

In [44]:

num =int(input("enter the number of rows"))
print("\n")
    
for i in range(num):
    print(" " * (num - i - 1) + "* " * (i + 1))

enter the number of rows7


      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# 4.right angle triangle with a string

In [46]:
title=input("enter a title :")
for i in range(len(title)):
    print(title[:i+1])

enter a title :python
p
py
pyt
pyth
pytho
python

#