In [12]:
%matplotlib inline
import pandas as pd

In [3]:
import pandas as pd 
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1.How many movies are listed in the titles dataframe?

In [18]:
import pandas as pd


num_movies = titles.shape[0]  



print(f'Total number of movies listed in the DataFrame: {num_movies}')

Total number of movies listed in the DataFrame: 244914

# 2.What are the earliest two films listed in the titles dataframe?

In [19]:
earliest_films = titles.sort_values(by='year').head(2)
print(earliest_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3.How many movies have the title hemlet?

In [20]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)
print(f'The number of movies with the title "Hamlet" is: {num_hamlet_movies}')

The number of movies with the title "Hamlet" is: 20

# 4.How many movies are titled north by northwest?

In [21]:
num_north_by_northwest_movies = titles[titles['title'].str.lower() == 'north by northwest'].shape[0]
print(f'The number of movies with the title "North by Northwest" is: {num_north_by_northwest_movies}')

The number of movies with the title "North by Northwest" is: 1

# 5.When was the first movie titled "Hamlet" made?

In [3]:
%matplotlib inline
import pandas as pd 
titles = pd.read_csv('C:/Users/USER/Desktop/day1_python/day_10_exercises/titles.csv')
titles
hamlet_movies = titles[titles['title'] == 'Hamlet']

hamlet_movies = hamlet_movies.sort_values('year')

first_hamlet_movie = hamlet_movies.iloc[0]

first_hamlet_movie_year = first_hamlet_movie['year']

print(f"The first movie titled 'Hamlet' was made in {first_hamlet_movie_year}.")

The first movie titled 'Hamlet' was made in 1910.

# 6.List all of the "Treasure Island" movies from earliest to most recent.

In [28]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island'].sort_values(by='year')
print(treasure_island_movies)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7.How many movies were made in the year 1950?

In [24]:
# Assuming you have already loaded the 'titles' DataFrame

# Filter the DataFrame for movies made in the year 1950
movies_1950 = titles[titles['year'] == 1950]

# Get the count of movies made in 1950
num_movies_1950 = len(movies_1950)

# Print the result
print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 1113

# 8.How many movies were made in the year 1960?

In [25]:
# Assuming 'titles' is the DataFrame containing your movie data
# Filter rows where the 'year' column is equal to 1960
movies_1960 = titles[titles['year'] == 1960]

# Count the number of rows (movies) in the filtered DataFrame
number_of_movies_1960 = len(movies_1960)

# Print the result
print("Number of movies made in the year 1960:", number_of_movies_1960)

Number of movies made in the year 1960: 1549

# 9.How many movies were made from 1950 throgh 1959?

In [26]:
# Filter the DataFrame to include only rows from 1950 through 1959
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

# Count the number of movies in the 1950s
num_movies_1950s = len(movies_1950s)

# Print the result
print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# 10.In what years has a movie titled "Batman" been released?

In [27]:
import pandas as pd
batman_movies = titles[titles['title'] == 'Batman']
years_with_batman_movies = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:")
print(years_with_batman_movies)

Years in which a movie titled 'Batman' has been released:
[1943 1989]

In [1]:
import pandas as pd
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

# 11.How many roles were there in the movie "Inception"?

In [4]:
inception_roles = cast[(cast['title'] == 'Inception') & (cast['type'] == 'actor')]
num_inception_roles = len(inception_roles)
print(f'The number of roles in the movie "Inception" is: {num_inception_roles}')

The number of roles in the movie "Inception" is: 56

# 12.How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [9]:
import pandas as pd
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [14]:
import pandas as pd
import numpy as np
inception_cast = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]
number_of_roles_in_inception_without_n_value = len(inception_cast)
print("Number of roles in the movie 'Inception' without an 'n' value:",
number_of_roles_in_inception_without_n_value)

Number of roles in the movie 'Inception' without an 'n' value: 27

# 13.But how many roles in the movie "Inception" did receive an "n" value?

In [13]:
inception_roles_with_n = cast[(cast['title'] == 'Inception') & ~cast['n'].isna()]
num_inception_roles_with_n = len(inception_roles_with_n)
print(f'The number of roles in the movie "Inception" that received an "n" value is: {num_inception_roles_with_n}')

The number of roles in the movie "Inception" that received an "n" value is: 51

# 14.Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [7]:
import pandas as pd
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [8]:
import pandas as pd
north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') &
(cast['n'].notna())]
north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['n','name']])

            n                  name
871426    1.0            Cary Grant
3518333   2.0       Eva Marie Saint
1457165   3.0           James Mason
3157232   4.0   Jessie Royce Landis
356707    5.0        Leo G. Carroll
3048272   6.0  Josephine Hutchinson
1695173   7.0           Philip Ober
1275337   8.0         Martin Landau
2447081   9.0         Adam Williams
1811387  10.0          Edward Platt
665768   11.0     Robert Ellenstein
2295714  12.0          Les Tremayne
464736   13.0       Philip Coolidge
1508344  14.0         Patrick McVey
206471   15.0          Edward Binns
1384780  16.0             Ken Lynch

C:\Users\USER\AppData\Local\Temp\ipykernel_15384\1819859402.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'])

# 15.Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & (cast['type'] == 'actor')]
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted)

          title  year                name   type                   character  \
1705394  Sleuth  1972    Laurence Olivier  actor                 Andrew Wyke
326773   Sleuth  1972       Michael Caine  actor                 Milo Tindle
373876   Sleuth  1972      Alec Cawthorne  actor           Inspector Doppler
1465483  Sleuth  1972  John (II) Matthews  actor  Detective Sergeant Tarrant
1448690  Sleuth  1972        Teddy Martin  actor      Police Constable Higgs

           n
1705394  1.0
326773   2.0
373876   3.0
1465483  4.0
1448690  6.0

# 16.Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [10]:
import pandas as pd
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['n'].notna()) & (cast['year'] == 2007)]
sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast_sorted[['n', 'name']])

           n           name
326774   1.0  Michael Caine
1293634  2.0       Jude Law
1805907  3.0  Harold Pinter

C:\Users\USER\AppData\Local\Temp\ipykernel_15384\2108668788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleuth_2007_cast['n'] = pd.to_numeric(sleuth_2007_cast['n'])

# 17.How many roles were credited in the silent 1921 version of Hamlet?

In [14]:
import pandas as pd
hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
number_of_roles_in_hamlet_1921 = len(hamlet_1921_cast['character'].unique())
print("Number of credited roles in the silent 1921 version of 'Hamlet':",number_of_roles_in_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

# 18.How many roles were credited in Branagh's 1996 Hamlet?

In [15]:
import pandas as pd
branagh_hamlet_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]
number_of_roles_in_branagh_hamlet = len(branagh_hamlet_cast['character'].unique())
print("Number of credited roles in Branagh's 1996 version of 'Hamlet':",number_of_roles_in_branagh_hamlet)

Number of credited roles in Branagh's 1996 version of 'Hamlet': 49

# 19.How many "Hamlet" roles have been listed in all film credits through history?

In [19]:
hamlet_roles = cast[cast['title'] == 'Hamlet']
num_hamlet_roles = len(hamlet_roles)
print(f'The total number of "Hamlet" roles listed in film credits throughout history is: {num_hamlet_roles}')

The total number of "Hamlet" roles listed in film credits throughout history is: 342

# 20.How many people have played an "Ophelia"?

In [16]:
import pandas as pd
ophelia_actors = cast[cast['character'] == 'Ophelia']
number_of_ophelia_actors = len(ophelia_actors['name'].unique())
print("Number of people who have played the role of 'Ophelia':",number_of_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

# 21 How many people have played a role called "The Dude"?

In [17]:
import pandas as pd
the_dude_actors = cast[cast['character'] == 'The Dude']
number_of_the_dude_actors = len(the_dude_actors['name'].unique())
print("Number of people who have played the role of 'The Dude':",number_of_the_dude_actors)

Number of people who have played the role of 'The Dude': 19

# 22.How many people have played a role called "The Stranger"?

In [2]:
import pandas as pd
cast=pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [3]:
stranger_roles = cast[cast['character'] == 'the stranger']
num_stranger_actors = len(stranger_roles)
print("Number of people who played a role called 'the stranger':", num_stranger_actors)

Number of people who played a role called 'the stranger': 0

# 23.How many roles has Sidney Poitier played throughout his career?

In [4]:
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
num_roles = len(sidney_poitier_roles)
print("Sidney Poitier has played", num_roles, "roles throughout his career.")

Sidney Poitier has played 43 roles throughout his career.

# 24.How many roles has Judi Dench played?

In [5]:
judi_dench_roles = cast[cast['name'] == 'Judi Dench']
num_roles = len(judi_dench_roles)
print("Judi Dench has played", num_roles, "roles throughout her career.")

Judi Dench has played 55 roles throughout her career.

# 25.List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [6]:
cary_grant_supporting_roles_1940s =cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
sorted_roles = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(sorted_roles)

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# 26.List the leading roles that Cary Grant played in the 1940s in order by year.

In [7]:
cary_grant_leading_roles_1940s =cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
sorted_roles = cary_grant_leading_roles_1940s.sort_values(by='year')
print(sorted_roles)

                                       title  year        name   type  \
871448               The Howards of Virginia  1940  Cary Grant  actor
871407                       His Girl Friday  1940  Cary Grant  actor
871450                The Philadelphia Story  1940  Cary Grant  actor
871438                             Suspicion  1941  Cary Grant  actor
871452                  The Talk of the Town  1942  Cary Grant  actor
871429                 Once Upon a Honeymoon  1942  Cary Grant  actor
871398                     Destination Tokyo  1943  Cary Grant  actor
871422                             Mr. Lucky  1943  Cary Grant  actor
871430                      Once Upon a Time  1944  Cary Grant  actor
871390                  Arsenic and Old Lace  1944  Cary Grant  actor
871425             None But the Lonely Heart  1944  Cary Grant  actor
871424                         Night and Day  1946  Cary Grant  actor
871427                             Notorious  1946  Cary Grant  actor
871444      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
871445                     The Bishop's Wife  1947  Cary Grant  actor
871421  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
871402          Every Girl Should Be Married  1948  Cary Grant  actor
871411                I Was a Male War Bride  1949  Cary Grant  actor

                                   character    n
871448                           Matt Howard  1.0
871407                          Walter Burns  1.0
871450                    C. K. Dexter Haven  1.0
871438                      Johnnie Aysgarth  1.0
871452                          Leopold Dilg  1.0
871429                 Patrick 'Pat' O'Toole  1.0
871398                         Capt. Cassidy  1.0
871422  Joe Adams -posing as Joe Bascopolous  1.0
871430                           Jerry Flynn  1.0
871390                     Mortimer Brewster  1.0
871425                            Ernie Mott  1.0
871424                           Cole Porter  1.0
871427                                Devlin  1.0
871444                           Dick Nugent  1.0
871445                                Dudley  1.0
871421                         Jim Blandings  1.0
871402                     Dr. Madison Brown  1.0
871411                 Captain Henri Rochard  1.0

# 28.How many roles were available for actresses in the 1950s?

In [8]:
actress_roles_1950s = cast[(cast['type'] == 'actress') & (cast['year'] >= 1950) & (cast['year'] <= 1959)]
num_actress_roles = len(actress_roles_1950s)
print("Number of roles available for actresses in the 1950s:", num_actress_roles)

Number of roles available for actresses in the 1950s: 57733

# 29.How many leading roles (n==1) were available from the beginning of film history through 1950?

In [9]:
leading_roles_before_1950 = cast[(cast['n'] == 1) & (cast['year'] <= 1950)]
num_leading_roles = len(leading_roles_before_1950)
print("Number of leading roles (n==1) available from the beginning of film history through 1950:", num_leading_roles)

Number of leading roles (n==1) available from the beginning of film history through 1950: 30569

# 30.How many non-leading roles were available through from the beginning of film history through 1980?

In [10]:
non_leading_roles_before_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]
num_non_leading_roles = len(non_leading_roles_before_1980)
print("Number of non-leading roles available from the beginning of film history through 1980:", num_non_leading_roles)

Number of non-leading roles available from the beginning of film history through 1980: 1117667

# 31.How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [13]:
minor_roles_before_1980 = cast[(cast['n'].isna()) | (cast['n'] == "NaN") | (cast['n'] == "minor") & (cast['year'] <= 1980)]
num_minor_roles = len(minor_roles_before_1980)
print("Number of roles through 1980 that did not warrant a numeric 'n' rank:", num_minor_roles)

Number of roles through 1980 that did not warrant a numeric 'n' rank: 1458573